.butterfly{
  
}
.dinosaur{
  
}
.football{
  border-image-source: url(tic-tac-toe[1].png);
  border: 27px solid #000;
border-image: url(tic-tac-toe[1].png) 27 round;
}
.penguins{
  
}
.seagull{
  background-image: linear-gradient(-90deg, blue, white);
}
.stage{
  
}
