 table, tr, th {
        border: 1px solid black;
    }
h1{
  color:black;
}
table.standings{
 background-color:green;
}
table.standings tr.Black_hawks {
    background-color:#000000;
 color:white;
  }
table.standings tr.blue_jays {
    background-color:#305cde;
 color:white;
  }

table.Soccer_standings{
background-color:green;
}
table.Soccer_standings tr.Brazil {
    background-color:#305cde;
 color:white;
  }
table.Soccer_standings tr.U-S-A {
    background-color:#cd1c18;
 color:white;
  }

table.Hockey_standings{
background-color:blue;
}
table.Soccer_standings tr.Hurricane {
    background-color:#000000;
 color:white;
  }
table.Soccer_standings tr.Red_Wings {
    background-color:#cd1c18;
  color:white;
  }
